<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate news</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

    <header>
        <nav>
            <div class="">
                <h1>Text Analysis</h1>
            </div>
        </nav>

        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="">
                <label for="url">Type a URL to analyze</label>
                <input id="url" type="url" name="input" placeholder="URL" required>
                <input type="submit" id="btn" value="submit">
                <p id="warn"></p>
            </form>
        </section>

        <section>
            <p>Form Results:</p>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>©2023 All rights reserved</p>
    </footer>

    <!-- <script src="../index.js"></script> -->
</body>

</html>