<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate news</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

    <header>
        <nav>
            <div class="">
                <h1>Text Analysis</h1>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <form>
                <label for="input">Type a URL or text to analyze</label>
                <input id="input" type="text" required />
                <input type="submit" id="btn" value="Submit" />
                <p id="warn"></p>
            </form>
        </section>

        <section>
            <!-- <p>Form Results:</p> -->
            <div id="results">
                <p class="result">Polarity: <span id="polarity"></span> </p>
                <p class="result">Subjectivity: <span id="subjectivity"></span></p>
                <p class="result">Confidence: <span id="confidence"></span></p>
                <p class="result-text">Text: <span id="text-except"></span></p>
            </div>
        </section>
    </main>

    <footer>
        <p>©2023 All rights reserved</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>